@media screen {
  body {background-size: cover; background-color: rgb(21, 12, 44); font: 16px Arial, sans-serif; color: #dddbef; }
}

a {
  color: #b2d0ff;
}

button {
  
}

.bbfyy01-head {
  display: flex;
  align-items: center;
  justify-content: center;
}

.head-txt {
  font-size: 50px;
}

.sub-txt {
  font-size: 16px;
}