.bbfyy01-background {
    color: #ffffff;
    background-color: #17171c;
    font-family: Arial, sans-serif;
}

.header-title { font-size: 24px; }

.bb-title-barheader {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #272b5c;
    color: #ffffff;
    flex-direction: column;
}